In [1]:
# Declare Dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests
import time

In [2]:
#https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

executable_path = {'executable_path': '/usr/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/usr/bin/chromedriver

Mars Data Scraping from NASA News Page

In [3]:
# Set URL to NASA Mars News website
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
time.sleep(5)

In [4]:
# Create HTML Object and parse HTML with Beautiful Soup
html_news = browser.html
soup = BeautifulSoup(html_news, 'html.parser')

# Scrape data from the title and p tags
text_tag = soup.find('div', class_='list_text')
title = text_tag.find('div', class_='content_title')
article_title = title.find('a').text
article_p = soup.find('div', class_='article_teaser_body').text

# Print scraped data for verification
print(article_title)
print(article_p)

NASA Establishes Board to Initially Review Mars Sample Return Plans
The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

Mars Image Scraping from JPL Page

In [5]:
# Set URL to JPL website
image_url_featured = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
image_url_prefix = 'https://jpl.nasa.gov'
browser.visit(image_url_featured)
time.sleep(5)

In [6]:
# Create HTML Object and parse HTML with Beautiful Soup 
html_image = browser.html
soup = BeautifulSoup(html_image, 'html.parser')

In [7]:
image_carousel = soup.find('article', class_='carousel_item')
footer = image_carousel.find('footer')
link_url = footer.find('a')["data-fancybox-href"]
featured_image_url = image_url_prefix + link_url
featured_image_url

'https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA19083_ip.jpg'

Mars Data Scraping from Mars Facts Page

In [8]:
# Set URL to Mars Facts website
facts_url = 'http://space-facts.com/mars/'

In [9]:
# Parse the URL using Pandas
mars_facts = pd.read_html(facts_url)

In [10]:
mars_facts[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
# Find the table containing the Mars Facts and assign it to mars_df
mars_df = mars_facts[0]

In [12]:
# Label the columns
mars_df.columns = ['Description','Value']

In [13]:
# Reassign index to the `Description` column
mars_df.set_index('Description', inplace=True)

In [14]:
# Display mars_df
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers